/* Mobile / Small Device Responsive Styles  */
@media screen and (max-width:576px) {
    .navbar {
        width: var(--width-mobile);
    }

    .navbar,
    .navbar-nav,
    .banner-inner {
        flex-direction: column;
    }

    .navbar-nav {
        text-align: center;
    }

    .banner-container {
        background-position: bottom left;
    }

    .banner-inner {
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 30px;
        text-align: center;
    }

    .banner-title span {
        font-size: 60px;
    }

    .banner-instruction-point {
        font-size: 18px;

    }

    .banner-btn {
        margin-top: 30px;
        text-align: center;
    }

    .gamer-container {
        grid-template-columns: 1fr;
    }

    .gamer-content,
    .gamer-title,
    .gamer-descrip {
        text-align: center;
    }

    .quote {
        font-size: 20px;
    }

    .video-games {
        grid-template-columns: 1fr;
    }

    .games-video-title {
        font-size: 25px;
    }

    .video-caption {
        font-size: 16px;
        text-align: center;
    }

    .video {
        margin-bottom: 20px;
    }

    .instant-play {
        flex-direction: column;
        gap: 60px;
    }

    .instant-play-content {
        width: auto;
        text-align: center;
    }

    .instant-play-image img {
        padding: 0px 20px;
    }

    .instant-play-image img:last-child {
        left: -37px;
        bottom: -35px;
        width: 170px;
    }

    .online-play {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .online-play-content .inner {
        width: auto;
        text-align: center;
    }

    .online-play-image img:first-child {
        padding: 0px 30px;
    }

    .online-play-image img:last-child {
        right: -8px;
        bottom: -29px;
        width: 150px;
    }

    .career-inner {
        flex-direction: column;
    }

    .career-sec-title {
        font-size: 38px;
    }

    .career-description {
        font-size: 16px;
        line-height: 22px;
    }

    .career-content {
        padding: 30px 0px;
    }

    .positions {
        margin-bottom: 20px;
    }

    .positions,
    .place p {
        font-size: 16px;
        line-height: 28px;
    }
}


/* Table / Medium Device Responsive Styles  */
@media screen and (min-width:577px) and (max-width:768px) {
    .navbar {
        width: var(--width-table);
        padding: 10px 20px;
    }

    .nav-logo img {
        max-width: 50px;
        height: auto;
        margin-right: 10px;
    }

    .nav-logo .site-title {
        font-size: 35px;
        font-weight: 700;
    }

    .banner-container {
        background: none
    }

    .banner-content {
        margin-bottom: 20px;
    }

    .banner-inner {
        flex-direction: column-reverse;
    }

    .gamer-container {
        grid-template-columns: 1fr;
    }

    .gamer-content,
    .gamer-title,
    .gamer-descrip {
        text-align: center;
    }

    .quote {
        font-size: 20px;
    }

    .video-games {
        grid-template-columns: repeat(2, 1fr);
    }

    .games-video-title {
        font-size: 40px;
    }

    .video {
        margin-bottom: 20px;
    }

    .instant-play {
        flex-direction: column;
        gap: 60px;
    }

    .instant-play-content {
        width: auto;
        text-align: center;
    }

    .instant-play-image img {
        padding: 0px 20px;
    }

    .instant-play-image img:last-child {
        left: -37px;
        bottom: -35px;
        width: 170px;
    }

    .online-play {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .online-play-content .inner {
        width: auto;
        text-align: center;
    }

    .online-play-image img:first-child {
        padding: 0px 30px;
    }

    .online-play-image img:last-child {
        right: -8px;
        bottom: -29px;
        width: 150px;
    }

    .career-inner {
        flex-direction: column;
    }

    .career-sec-title {
        font-size: 38px;
    }

    .career-description {
        font-size: 16px;
        line-height: 22px;
    }

   .career-content {
    padding: 50px 0px;
    margin-bottom: 50px;
}
    .positions {
        margin-bottom: 20px;
    }

    .positions,
    .place p {
        font-size: 16px;
        line-height: 28px;
    }
}