/* Work Sans Google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Variables  */
:root {
    --width-large: 85vw;
    --width-mobile: 100vw;
    --width-tablet: calc(100vw - 5vw) --primary-color: #000000;
    --secondary-color: #534C64;
    --third-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

/* Shared Styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 10px 25px;
    border-radius: 48px;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    transition: background .35s ease;
}

.btn-secondary {
    padding: 10px 25px;
    border-radius: 48px;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: #4EC5F7;
    transition: background .35s ease;
    display: inline-block;
}

.signin {
    margin-right: 15px;
}


.btn-primary:hover {
    background: linear-gradient(90deg, #eb3894 0%, #dd388d 100%);
}


.btn-secondary :hover {
    background: #3ba5d3;
}

/* Header Area Styles Start Here  */
.top-header {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    position: sticky
}

.navbar {
    width: var(--width-large);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-logo {
    display: flex;
}

.nav-logo img {
    max-width: 90px;
    height: auto;
    margin-right: 10px;
}

.nav-logo .site-title {
    font-size: 45px;
    font-weight: 700;
}

.nav-logo .site-title::first-letter {
    color: #FF42A5;
}

.site-title a {
    text-decoration: none;
    color: var(--primary-color);
}

.navbar-nav {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-left: 20px;
    padding: 15px;
}

.nav-item:last-child {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-item:hover,
.nav-item:visited {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube,
.fa-tiktok {
    margin-left: 15px;
    font-size: 20px;
}

.fa-youtube {
    color: red;
}

.fa-tiktok {
    color: #00f2ea;
}

.nav-item:first-child {
    margin-left: 0px;
}

.nav-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
}

/* Banner Area Styles   */
.banner-container {
    background-image: url("../images/Group-14.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.banner-inner {
    width: var(--width-large);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.banner-content,
.banner-img {
    flex: 1;
}

.banner-title {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.banner-title span {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-instruction-point {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.banner-instruction-point i {
    color: #F948B2;
    margin-right: 10px;
}

.banner-img img {
    max-width: 100%;
}

.banner-btn {
    margin-top: 50px;
}

/* Gamer Area Styles  */
.we-r-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 0px
}

.gamer-container {
    width: var(--width-large);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.gamer-img img {
    max-width: 100%;
}

.gamer-content {
    text-align: right;
}

.gamer-title {
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-descrip {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
    text-align: right;
}

.purpose {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 4500;
    margin-top: 30px;

}

.quote {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 500;
}

/* Online games Funny Videos */
.games-videos-section {
    width: var(--width-large);
    margin: 30px auto;
}

.video-header {
    text-align: center;
    padding: 50px 0px;
}

.games-video-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.games-video-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-header p {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;

}

.video-caption {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-top: 15px;
}


.video-games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
}

.video-games img {
    width: 100%;
    height: fit-content;
}

.video-container {
    position: relative;
}

.video-container .play,
.play3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 99%;
    left: 0;
    top: 0;
    background-color: #17171885;
    border-radius: 15px;
    cursor: pointer;
    border: 3px solid #eb3894;

}

.video .play {
    visibility: hidden;
}

.video:hover .play {
    visibility: visible;
}

.play i,
.play3 i {
    font-size: 30px;
    color: #fff;
}

.play,
.play3 p {
    font-size: 20px;
    font-weight: 500;
    color: #dd388d;
}

/* Instant Play Game Area Styles  */
.instant-play {
    width: var(--width-large);
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.instant-play-content {
    width: 450px;
    text-align: right;
    /* padding: 0px 50px; */
}

.instant-play-title {
    font-size: 48px;
    font-weight: 700;
}

.instant-play-title span {
    display: block;
}

.instant-play-title span:nth-child(1) {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-play-description {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instant-play-image {
    position: relative;
}

.instant-play-image img {
    max-width: 100%;
}

.instant-play-image img:last-child {
    position: absolute;
    left: -70px;
    bottom: -50px;
    width: 250px;
}